<section class="subjects-section">
  <div class="container mt-2">

    <div class="row subjects">
        <div class="create-subject d-flex ">
          <button class="create-btn mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">create new subject</button>


         <div class="modal fade" #exampleModal id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header border-bottom-0 pb-0">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form  [formGroup]="subjectForm" (submit)="addSubject()" >
                    <div class="modal-body">
                              <div class="mb-4">
                                <input type="text" class="form-control" formControlName="courseName" id="SubjectName" placeholder=" Subject Name">
                              </div>
                              <div class="mb-4">
                                <input type="text" class="form-control" formControlName="professorName" id="ProfessorName" placeholder=" Professor Name">
                              </div>
                              <div class="mb-4">
                                <select class="form-select" formControlName="coursePrice" aria-label="Default select example">
                                  <option disabled selected value="Price/Hour"  >Price/Hour</option>
                                  <option value="10$">10$</option>
                                  <option value="20$">20$</option>
                                  <option value="30$">30$</option>
                                </select>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Specific Time slots for this subject
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                  My All Time Slots
                                </label>
                              </div>

                    </div>
                    <div class="modal-footer border-top-0 d-flex justify-content-center">
                      <button type="submit" class="edit"
                              [ngStyle]="{'background-color': subjectForm.invalid || subjectForm.get('coursePrice')?.value.trim() === 'Price/Hour' ? '#d3cbcb' : '#29A354'}"
                              [disabled]="subjectForm.invalid || subjectForm.get('coursePrice')?.value.trim() === 'Price/Hour'">Save
                      </button>
                    </div>
              </form>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-4 col-md-6 col-12" *ngFor="let subject of subjects">
          <div class="subject-details">
              <div>
                <p class="course-name">{{subject.courseName}}</p>
                <p class="course-price">{{subject.coursePrice}}/Hour</p>
                <p class="professor-name">professor: {{subject.professorName}}</p>
              </div>
              <div class="d-flex justify-content-center flex-column">
                <button class="edit mb-3">edit</button>
                <button class="cancel mb-3">cancel</button>
              </div>
          </div>
        </div>
    </div>
  </div>

</section>
