@import '../../../assets/scss/colors';

.dashboard{
  padding-top: 45px;
  background-color: #F7F8FA;
  .head{
    padding: 0 120px;
    .usertype{
      color: #4D5E80;
      font-size: 15px;
      font-weight: 600;
    }
    .join-tutor{
      cursor: pointer;
      background-image: linear-gradient(to right, rgb(247 18 219), rgb(73 56 207));
      font-size: 15px;
      font-weight: 600;
      background-clip:text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
@media (max-width:600px) {
  .head{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}


.large{
  background: #fff;
  padding: 20px 30px;
  margin-bottom: 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
}
::ng-deep .swal2-html-container {
  text-align: start !important;
}
::ng-deep.title{
  color: 54595E;
  font-size: 17px;
}
::ng-deep.subtitle{
  color: #54595E;
  font-size: 12px;
}
::ng-deep.swal2-actions{
  justify-content: end !important;
  width: 100% !important;
  padding-right: 20px !important;
  flex-direction: row-reverse;
}
::ng-deep.swal2-confirm{
  background-color: #4F4F4F !important;
  color: #F5F5F5 !important;
  box-shadow:none !important
}
::ng-deep.swal2-cancel{
  background-color: #ffff !important;
  color: #4F4F4F !important;
  border: 0.3px solid #4F4F4F !important;
}
