<section class="dashboard">
  <div class="container ">

    <div class="row">
      <div class="col-12 d-flex justify-content-between align-items-center head">
        <h1 class="usertype">{{ isTutor ? 'My Profile' : 'Student Profile' }}</h1>

        <h1 href="" class="join-tutor" (click)="firesweetAlert()" *ngIf="!isTutor">Join as a tutor?</h1>
      </div>
      <div class="col-lg-3">

         <app-sidbar></app-sidbar>

      </div>
      <div class="col-lg-9 large">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</section>
<!-- <app-footer></app-footer> -->
