$primary-color: #007bff;
$secondary-color: #827A7A;
$success-color: #28a745;
$main-color:#29A354;
$black-color:#000000;
$red-color:#F01919;
$gray-color:#F9F7FF;
$wight-color:#FFFFFF;
$mainBlue-color:#0C0531;
$secondblack-color:#212121;
$second-gray-color:#C1C1C1;

