<section class="sec">
  <div class="container-fluid  " >

    <div class="row h-100">
      <div class="col-lg-7 d-flex d-flex justify-content-center align-items-center">
        <div class="bio" style="width: 85%;" >
           <div class="lamp d-flex justify-content-center">
             <img src="assets/images/home/light vector.png" loading="lazy" alt="">
           </div>
           <div class="details d-flex flex-column align-items-center">
             <div>
                <span class="Empower">Empower Your Knowledge,</span><br>
                <span class="Collaborate">Collaborate to Educate</span>

             </div>
             <div >
              <p class="content">
                Join a community of your colleagues, and start your journey to excellence today!
              </p>
              <button type="button" class="btn  explore">
                Explore Courses
                <img src="assets/images/home/arrow.png" class="ms-1" width="15" alt="">
                <!-- <i class='bx bx-up-arrow-alt'></i> -->
              </button>
             </div>

           </div>


        </div>
      </div>
      <div class="col-lg-5 clip-container d-flex justify-content-center align-items-center">
        <img src="assets/images/girl.png" alt="" class="img">
        <div class="clip1"></div>
        <div class="clip2"></div>
      </div>
    </div>
  </div>
</section>
