@import '../../../../../assets/scss/colors';
.footer{
  &{
    background-color: $gray-color;
    padding: 70px 0 20px 0;
  }
  .col-6 > div{
    width: 200px;
    margin-bottom: 15px;
  }
  .social-details{
  text-align: start;
  .logo-text{
    color: #29A354;
    margin-left: 10px;
    font-weight: 700;
  }
  .social{
    padding-inline-start: 0;
    list-style-type: none;
    .follow{
      color: $secondblack-color;
      font-weight: 700;
      margin-top: 12px;
    }
    .card-social{
      padding-inline-start: 0;
      gap: 15px;
      margin-top: 10px;
      li{
        width: 25px;
        height: 25px;
        background: #06052E;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.7s ease;
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -ms-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        &:hover
            {
              transform: scale(1.5) rotate(360deg);
              -webkit-transform: scale(1.5) rotate(360deg);
              -moz-transform: scale(1.5) rotate(360deg);
              -ms-transform: scale(1.5) rotate(360deg);
              -o-transform: scale(1.5) rotate(360deg);
            }
        a{
          color: $wight-color;
          i{
            font-size: 15px;
          }

        }
      }
    }
  }
  }
  .footer-details{
    ul{
      padding-inline-start: 0;
      list-style-type: none;
      h4{
        color: $secondblack-color;
        font-weight: 700;
      }
      li a{
        color: $secondblack-color;
      }
    }
  }
  .copy-write{
    span{
      display: inline-block;
      background-color: $secondblack-color;
      width: 80%;
      height: 1px;
    }
    .Copyright{
      margin-top: 10px;
      color: $secondblack-color;
    }
  }

}
