<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 col-6 d-flex justify-content-center">
        <div class="social-details">
          <a class="d-flex align-items-center justify-content-start text-decoration-none" routerLink="">
            <img src="assets/images/thelogo.png" alt="">
            <span class="logo-text">UniMates</span>
          </a>
          <ul class="social">
            <li class="follow">Follow us on social media</li>
            <li>
              <ul class="card-social d-flex">
                <li><a href="https://www.facebook.com" class="icon-link">
                  <i class='bx bxl-facebook'></i>
                </a></li>
                <li><a href="https://www.instagram.com" class="icon-link">

                  <i class='bx bxl-instagram'></i>
                </a></li>
                <li><a href="https://twitter.com" class="icon-link">

                  <i class='bx bxl-twitter'></i>
                </a></li>



              </ul>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-lg-3 col-6 d-flex justify-content-center">
        <div class="footer-details  ">
          <h4 class="link-head">Links</h4>
          <ul>
            <li><a href="#" class="text-decoration-none">Home</a> </li>
            <li><a href="#" class="text-decoration-none">Courses</a></li>
            <li><a href="#" class="text-decoration-none">Tutors</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-6 d-flex justify-content-center">
        <div class="footer-details  ">
          <h4 class="link-head">Resource </h4>
          <ul>
            <li><a href="#" class="text-decoration-none">About Us</a> </li>
            <li><a href="#" class="text-decoration-none">Legal Notice</a></li>

          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-6 d-flex justify-content-center">
        <div class="footer-details  ">
          <h4 class="link-head">Contacts </h4>
          <ul>
            <li><a href="#" class="text-decoration-none">address</a> </li>
            <li><a href="#" class="text-decoration-none">Contact Form</a></li>
            <li><a href="#" class="text-decoration-none">+11111111111111111</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 copy-write mt-3 d-flex flex-column align-items-center">
        <span></span>
        <p class="Copyright">Copyright 2024@ all right</p>
      </div>


    </div>
  </div>
</footer>
