


<!-- hero section -->
<div class="bg-light aboutUs-section">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="about-Title">ABOUT US</h1>
        <p class="description text-muted mb-0">
          We're more than just an e-learning platform. We're a community-driven hub designed to empower
          university students to excel academically while earning money and forging meaningful
          connections with their peers.
        </p>

      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="assets/images/aboutUs/about.webp" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">

    <!-- Our Mission -->
    <div class="row align-items-center mb-5">
      <div class="col-lg-5 px-5 " style="margin-right: auto;">
        <img src="assets/images/aboutUs/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0">
      </div>
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Our Mission</h2>
        <p class="font-italic text-muted mb-4 description">
          Our mission is simple yet profound: to revolutionize the way university students study
          and collaborate. We believe that the key to success lies not only in individual
          effort but also in collective support and guidance. That's why we've created a platform
           where students can come together, learn from each other, and thrive as a community.
        </p>
      </div>

    </div>
    <!-- How We Do It? -->
    <div class="row align-items-center mb-5">
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2" style="margin-right: auto;"><img
          src="assets/images/aboutUs/draw.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6 order-2 order-lg-1">
        <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">How We Do It? </h2>
        <p class="font-italic text-muted mb-4 description">
            At the heart of [UniMates] is our unique approach to learning. Unlike traditional e-learning platforms,
            we don't just provide resources and courses. Instead, we facilitate peer-to-peer learning by
            connecting students who share the same faculty and class. Your classmates become your guides,
            mentors, and partners on your academic journey.
        </p>
      </div>

    </div>
    <!-- Why Choose Us? -->
    <div class="row align-items-center mb-5">
      <div class="col-lg-5 px-5 " style="margin-right: auto;">
        <img src="assets/images/aboutUs/draw2.png" alt="" class="img-fluid mb-4 mb-lg-0">
      </div>
      <div class="col-lg-6 order-2 order-lg-1">
        <i class='bx bx-select-multiple fa-2x mb-3 text-primary'></i>
        <h2 class="font-weight-light">Why Choose Us?</h2>
        <p class="font-italic text-muted mb-4 description">
          Community-Centric Learning: Experience the power of collaborative learning within a supportive
          community of like-minded peers. Earn While You Learn: Turn your academic expertise
          into financial rewards by sharing your knowledge with others.Empowerment Through
           Connection: Forge lasting connections and friendships while achieving academic excellence together.
        </p>
      </div>

    </div>
    <!-- Join Us Today -->
    <div class="row align-items-center mb-5">
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2" style="margin-right: auto;"><img
          src="assets/images/aboutUs/join.png" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6 order-2 order-lg-1">

        <i class="fa-solid fa-people-group fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Join Us Today</h2>
        <p class="font-italic text-muted mb-4">
          Whether you're seeking academic support, looking to share your expertise,
          or simply craving connection with fellow students, [UniMates] is here for you.
          Join our vibrant community today and discover a new way to learn, grow, and succeed together.
        </p>
          <a [routerLink]="['', 'courses']" class="btn join px-5  shadow-sm">Join Us</a>
      </div>

    </div>
  </div>
</div>

<footer class="bg-light p-4">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy;Copyright 2024@ all right</p>
  </div>
</footer>
