
 <section class="mt-4">
  <div class="container">
    <form [formGroup]="myForm" class="form"  (ngSubmit)="onFormSubmit()" >
         <div class="row justify-content-center">

                <div class="element mb-4">
                  <div class="form-group has-float-label ">
                        <p-dropdown formControlName="country" class="drop"
                        [options]="Countries" name="from" [(ngModel)]="selectedCountry"
                        optionLabel="name" optionValue="name" [showClear]="true"
                        placeholder="Select Country"></p-dropdown>
                        <label class="label">Country name</label>
                  </div>

                </div>
                <div class="element mb-4">
                  <div class="form-group has-float-label">
                        <p-dropdown formControlName="university" class="drop"
                        [options]="Universites" name="from" [(ngModel)]="selectedUniversity"
                        optionLabel="name" optionValue="name" [showClear]="true"
                        placeholder="Select University"></p-dropdown>
                        <label class="label">University name</label>
                  </div>

                </div>
                <div class="element mb-4">
                  <div class="form-group has-float-label">
                      <p-dropdown formControlName="faculity" class="drop"
                      [options]="Faculites" name="from" [(ngModel)]="selectedFaculity"
                      optionLabel="Fname" optionValue="Fname" [showClear]="true"
                      placeholder="Select Faculity"></p-dropdown>
                      <label class="label">Faculity name</label>
                  </div>
                </div>
                <div class="element mb-4">
                  <div class="form-group has-float-label h-100">

                      <input pInputText id="Subject Name" class="subjectname" formControlName="subject"  placeholder="Subject name"  />
                      <label for="username" class="label" >Subject name</label>
                  </div>
                </div>
                <div class="element mb-4 ">
                    <button class="search" type="submit">Search</button>
                </div>
        </div>
    </form>


  </div>
</section>


<section class="pb-4 pt-5">
  <div class="container ">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-12" *ngFor="let course of courses">
           <app-course-card [course]="course"></app-course-card>
          </div>
      </div>
  </div>

</section>
