@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/fonts';


.tutor-info{

  .tutor-img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .tutor-details{
        margin-left: 15px;
    h5{
      color: $black-color;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 0;
    }
    p{
      color: $black-color;
      font-size: 11px;
      margin-bottom: 0;
      font-weight: 500;
    }
  }

}
.card{
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0px 0px 18px 0 #cfc8c8;
  border: 0;
   margin-bottom: 30px;
}
.course-info{

  .record {
    img{
      margin-bottom: 3px;
    }
    span{
      margin-left: 6px;
      color: $secondary-color;
    }
  }
  .student{
    display: flex;
    align-items: center;
    i{
      font-size: 25px;
      color: #6A6B6C;
    }
    span{
      color: $secondary-color;
      font-weight: 500;
    }
  }
  .rating{
    .rate {
      color: #FFC107;
      font-size: 22px;
    }
    span{
      margin-left: 6px;
      color: #6A6B6C;
      font-size: 15px;
    }
    span:last-child{
      font-size: 12px;
    }
  }
  .course-details{
    p:nth-last-child(-n+3) {
      margin-bottom: 10px !important;
     }
    .course-name{
      color: $mainBlue-color;
      font-size: 23px;
      font-weight: 600;
      margin-bottom: 8px;
    }
    .course-price{
      color: $orange-color;
      font-size: 14px;
      font-weight: 500;
    }
    .professor-name ,.professor-languages{
      color: $black-color;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .session{
    .session-title{
      color: $orange-color;
      margin-bottom: 2px;
      font-size: 18px;
      font-weight: 500;
    }
    .session-time{
      span{
        margin-right: 2px;
        color: $black-color;
        font-size: 14px;
        font-weight: 500;
      }
    }
    .update-time{
      color: $main-color;
      font-size: 12px;
      font-weight: 500;
      border: 0;
      background: transparent;
      padding: 0;
    }
  }
.disabledUpdateTime{
  color: #D9D9D9 !important;
}

  .action-btns{
    width: 85%;
    .Cancel ,.feedback{
      border: 0;
      font-weight: 400;
      color: $wight-color;
      width: 100%;
      height: 45px;
      font-size: 18px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      }
    .Cancel{
        background-color: $red-color;
      }
    .feedback{
       background-color: $orange-color;
      }
  }

}
.cancelDiabledBtn{
  color: $black-color !important;
  border: 1px solid $red-color !important;
  background-color: transparent !important;
}
.feedbackDiabledBtn{
  color: $black-color !important;
  border: 1px solid $orange-color !important;
  background-color: transparent !important;
}

.feedBackModal{
  .modal-content{
    background-color: $gray-color;
    border-radius: 32px;
  }
  .modal-header{
    h1{
      color: #555555;
      font-weight: 600;
      font-size: 25px;
      text-align: center;
      margin-top: 15px;
      margin-bottom: 25px;

    }
  }
  .scaling{
    color: $black-color;
    font-weight: 600;
    font-size: 12px;
  }
  .ratingForm{

    form{
      width: 65%;
      background: $wight-color;
      margin-bottom: 60px;
      box-shadow: 0px 5px 12px 0 #cfc8c8;
      border-radius: 10px;
      @media (max-width:500px) {
        &{
          width: 85%;
        }
      }
    }
    .feedback-rating{
      .rate {
        color: #FFC107;
        font-size: 45px;
      }
      span{
        margin-left: 6px;
        color: #6A6B6C;
        font-size: 15px;
      }
    }
    .form-control::placeholder  {
      color: #AAAAAA;
      font-size: 12px;
  }
  .modal-footer{
    justify-content: end;
    @media (max-width:500px) {
      &{
        justify-content: center;
      }
    }
    .save-btn{
      border: 0;
      font-weight: 400;
      color: #FFFFFF;
      height: 38px;
      font-size: 12px;
      border-radius: 20px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      background-color: $orange-color;
      padding: 0 30px;
    }
    .cancel-btn{
      background: transparent;
      color: #0096FF;
      border: 0;
      font-size: 12px;
    }
  }

  }

}

