@import '../../../../assets/scss/colors';
nav{
  background-color: $wight-color;
}

.nav-container{
  padding: 0 2rem;
  .navbar-toggler:focus{
    box-shadow: none;
  }
  .logo-text{
    color: #29A354;
    margin-left: 10px;
    font-weight: 700;
  }
  .navbar-nav{
    align-items: center;
    .nav-item{
      font-size: 17px !important;
      color: #827A7A !important;
      min-width: 130px;
      text-align: end;
      .nav-link{
        font-size: 17px !important;
      }
    }
    .nav-item:last-child{
      margin-left: 25px;
    }
    .auth-btns{
      .login ,.logout{
        border: 1px solid $main-color;
        padding: 7px 30px;
        color: $secondary-color;
        border-radius: 14px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        -o-border-radius: 14px;
        font-weight: 500;
        &:hover {
          background-color: $main-color;
          color: #fff;
        }
      }
      .logout{
        margin-left: 20px;
        // background-color: $main-color;
        // color: #fff;
      }
      .active {
        border: 1px solid $main-color;
        padding: 7px 30px;
        color: $secondary-color;
        border-radius: 14px;
        -webkit-border-radius: 14px;
        -moz-border-radius: 14px;
        -ms-border-radius: 14px;
        -o-border-radius: 14px;
        font-weight: 500;
        background-color: $main-color;
        color: #fff;
      }
    }
  }

  @media (max-width:991px) {
    .navbar-nav{
      align-items: start;
      .nav-item{
        text-align: start;
      }
      .nav-item:last-child{
        margin-left: 0;
      }
    }
  }
}
