@import '../../../../../assets/scss/colors';
.container{
    // background: #fff;
    // padding: 20px 30px;
    // margin-bottom: 30px;
    .lable{
      color: #1C1C1C;
      font-weight: 500;
      position: relative;
      margin-bottom: 0.2rem !important;
      // &::after{
      //   position: absolute;
      //   content: "*";
      //   color: #F01919;
      //   top: -2px;
      //   right: -15px;
      // }
    }


    .required::after {
      position: absolute;
      content: "*";
      color: #F01919;
      top: -2px;
      right: -15px;
    }
    .form-control ,.form-select{
      border: 1px solid #858585;

    }
    input , select  {
      height: 44px;
    }
    .form-control ,.form-select {
      color: $black-color;
      font-size: 14px;
  }
  .form-control::placeholder {
    color: #858585;
    font-size: 14px;
}
  .error {
    color: red;
    font-size: 16px;
  }
  .invalid {
    border: 1px solid red !important;
  }
  .invalid:focus{
    box-shadow: 0 0 0 0.25rem #efe0e5 !important
  }
  .TimeSlots{
    font-size: 17px;
  }
  .search{
    background-color: $orange-color;
    border: 0;
    font-weight: 400;
    color: $wight-color;
    width: 100%;
    height: 37px;
    font-size: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.actions{
  .cancel ,.complete{
    height: 37px;
    padding: 0 50px;
    border-radius: 5px;
  }
  .cancel {
    border: 1px solid #F01919;
    color: $black-color;
    background: transparent;
  }
  .complete {
    border: 0;
    background-color: #FF9104;
    color: $wight-color;
    margin-left: 5px;

  }
  @media (max-width:500px) {
    .cancel ,.complete{
    font-size: 18px;
    }
  }
}


}

.u-pearl.current .u-pearl-icon,
.u-pearl.current .u-pearl-number {
  color: #6362e7;
  border-color: #6362e7;
  transform: scale(1);
}

.u-pearl.done .u-pearl-icon,
.u-pearl.done .u-pearl-number {
  color: #fff;
  background-color: #6362e7;
  border-color: #6362e7;
}

.u-pearl-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 13px;
  color: #526069;
  font-weight: 600;
}
::ng-deep.swal2-title{
margin: 0 !important;
}
