
<div class="container">
  <div class="row parent-row">
      <div class="parent-container d-flex">
        <div class="welcome">
            <p class="start">Get started with </p>
            <p class="UniMates">UniMates </p>
        </div>
        <div class="sign-up">
            <h1>Create Account</h1>
            <!-- <button class="sginup-google" >
              <img src="assets/images/auth/google.png" alt="">
              <span>Sign Up with Google</span>
            </button> -->
            <div id="google-btn" class="d-flex justify-content-center"></div>

            <div class="d-flex justify-content-center">
              <p class="OR mt-4 text-center ">OR</p>
            </div>
            <div class="signUp-form">

              <form [formGroup]="registrationForm" (submit)="submitForm()" class="d-flex flex-column">
                <mat-form-field class="form-group">
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="firstName" required>
                </mat-form-field>
                <mat-form-field class="form-group">
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="lastName" required>
                </mat-form-field>

                <mat-form-field class="form-group">
                  <mat-label>Email Address</mat-label>
                  <input matInput type="email" formControlName="email" required>
                </mat-form-field>

                <mat-form-field class="form-group">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
                  <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                </mat-form-field>
                <button mat-raised-button class="submit-btn" type="submit" [disabled]="!registrationForm.valid">Create Account</button>
                <div class="mt-2 haveAcount">
                  <span>Already have an account?</span>
                  <a [routerLink]="['', 'auth', 'Login']" >Login</a>
                </div>
              </form>


            </div>
          </div>
          <img src="assets/images/auth/Saly.png" alt="" class="personimage">
      </div>
  </div>
</div>
