
<div class="container">
  <div class="row parent-row">
      <div class="parent-container d-flex">
        <div class="welcome">
            <p class="start">Get started with </p>
            <p class="UniMates">UniMates </p>
        </div>
        <div class="sign-up">
            <h1>Create Account</h1>
            <button class="sginup-google">
              <img src="assets/images/auth/google.png" alt="">
              <span>Sign Up with Google</span>
            </button>
            <div class="d-flex justify-content-center">
              <p class="OR mt-4 text-center ">OR</p>
            </div>
            <div class="signUp-form">
              <form (ngSubmit)="submitForm()" #form="ngForm" class="d-flex flex-column">
                <mat-form-field class="form-group">
                  <mat-label>Full Name</mat-label>
                  <input matInput id="fullName" name="fullName" ngModel required>
                </mat-form-field>

                <mat-form-field class="form-group">
                  <mat-label>Email Adress</mat-label>
                  <input matInput type="email" id="email" name="email" ngModel required>
                </mat-form-field>

                <mat-form-field class="form-group">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" id="password" name="password" [type]="hide ? 'password' : 'text'" ngModel required>
                  <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                </mat-form-field>
                <button mat-raised-button class="submit-btn" type="submit" [disabled]="!form.valid">Create Account</button>
                <div class="mt-2 haveAcount">
                  <span>Already have an account?</span>
                  <a [routerLink]="['', 'auth', 'Login']" >Login</a>
                </div>
              </form>


            </div>
          </div>
          <img src="assets/images/auth/Saly.png" alt="" class="personimage">
      </div>
  </div>
</div>
