@import '../../../../../assets/scss/colors';

.container{
  margin-top: 40px;
}
.user-image{
  width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after{
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: $wight-color;
      border: 2px solid #3361FF;
      border-right: 2px solid #DADEE6;
      border-radius: 50%;
      transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -o-transform: rotate(-30deg);
    }
    .number{
      position: absolute;
      right: -10px;
      width: 25px;
      height: 25px;
      background: #3361FF;
      color:$wight-color ;
      z-index: 3;
      border-radius: 50%;
      text-align: center;
      line-height: 2;
    }
  img{
    width: 85%;
    height: 85%;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
  }
}
.user-details{
  .name{
    color: #6B7A99;
    font-size: 13px;
    font-weight: 600;
  }
  .email{
    color: #ADB8CC;
    font-size: 10px;
    font-weight: 600;
  }
}

.user-image2 {
  position: relative;
  width: fit-content;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  &::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: $wight-color;
    border-radius: 50%;
  }
.progress-number {
  position: absolute;
  right: -16px;
  padding: 3px;
  background: #3361FF;
  color:white ;
  z-index: 3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}
img{
  width: 87%;
  height: 87%;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
}
}



.menu {
  .box {
    cursor: pointer;
    position: relative;
    border: 0.1px solid #e1e4e9;
    padding: 25px 0;
    background-color: #F7F8FA;
    img{
      width: 25px;
      height: 25px;
    }
    .box-name {
      color: #ADB8CC;
      margin-bottom: 0;
    }
  }

  .box.active {
    background-color: $wight-color;

    border-radius: 10px;
    z-index: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    .box-name {
      color: $mainBlue-color;
    }
    .status {
      position: absolute;
      width: 7px;
      height: 7px;
      background: red;
      border-radius: 50%;
      top: 20px;
      right: 20px;
    }
  }

}
.Activity{
  color: #4D5E80;
  text-align: center;
  font-weight: 500;
}
