
<div class="container" >
    <div class="row">


          <form  [formGroup]="myForm" >

            <div class="d-flex justify-content-center mt-5">
              <div class="user-image2">
                <circle-progress class="circl"
                  [percent]="progressPercent"
                  [radius]="50"
                  [outerStrokeWidth]="4"
                  [innerStrokeWidth]="2"
                  [outerStrokeColor]="'#3361FF'"
                  [innerStrokeColor]="'#9ca3af'"
                  [animation]="true"
                  [animationDuration]="300"
                ></circle-progress>
                <span class="progress-number">{{ progressPercent }}%</span>
                <!-- <img src="assets/images/tutors/tutor1.png" (click)="do()" alt=""> -->
                <img [src]="Userinfo.image" (click)="selectFileInput()" alt="User Image" />
                <span class="add-img rounded-circle" (click)="selectFileInput()">+</span>
                <input type="file" style="display: none;" id="b" class="form-control" accept=".png, .jpg, .jpeg , .gif"
                  formControlName="image"  (change)="onFileSelected($event)" />

              </div>
            </div>
          </form>

          <div class="user-details mt-4">
            <p class="name text-center">Hello {{Userinfo.firstName}}</p>
            <p class="email text-center">{{Userinfo.email}}</p>
          </div>
          <div class="menu mt-5 mb-4">
              <div class="row">
                <h1 class="Activity" *ngIf="isTutor">Tutor Activity</h1>
                      <!-- dash -->
                      <div class="col-sm-6 col-12 text-center  p-0" >
                        <div class="box"
                            style="border-right: 0;"
                            [routerLink]="['', 'dashboard', 'dash']"
                            [routerLinkActiveOptions]="{exact: true}"
                            routerLinkActive="active">

                                <img src="assets/images/dash/dash.svg" alt="">
                                <p class="box-name mt-3">Dashboard</p>
                                <span class="status"></span>
                        </div>
                      </div>
                      <!-- calenders -->
                      <div class="col-sm-6 col-12 text-center  p-0" *ngIf="isTutor">
                        <div class="box"  [routerLink]="['', 'dashboard', 'calenders']"  routerLinkActive="active" >
                                <img src="assets/images/dash/calender.png" alt="">
                                <p class="box-name mt-3">Calendars</p>
                                <span class="status"></span>
                        </div>
                      </div>
                      <!-- subjects -->
                      <div class="col-sm-6 col-12 text-center p-0" *ngIf="isTutor">
                        <div class="box" [routerLink]="['', 'dashboard', 'subjects']"  routerLinkActive="active">
                                <img src="assets/images/dash/bookings.svg" alt="">
                                <p class="box-name mt-3"> My Subjects</p>
                                <span class="status"></span>
                        </div>
                      </div>
                      <!-- tutor-invoice -->
                      <div class="col-sm-6 col-12 text-center p-0" *ngIf="isTutor">
                        <div class="box" [routerLink]="['', 'dashboard', 'tutor-invoice']"  routerLinkActive="active">
                                <img src="assets/images/dash/invoice.png" alt="">
                                <p class="box-name mt-3">Invoice</p>
                                <span class="status"></span>
                        </div>
                      </div>
                       <!-- student-booking -->
                      <div class="col-sm-6 col-12 text-center p-0" *ngIf="!isTutor">
                        <div class="box" [routerLink]="['', 'dashboard', 'bookings']"  routerLinkActive="active">
                                <img src="assets/images/dash/bookings.svg" alt="">
                                <p class="box-name mt-3"> My bookings</p>
                                <span class="status"></span>
                        </div>
                      </div>
                       <!-- student-invoice -->
                      <div class="col-sm-6 col-12 text-center p-0" *ngIf="!isTutor">
                        <div class="box" [routerLink]="['', 'dashboard', 'invoice']"  routerLinkActive="active">
                                <img src="assets/images/dash/invoice.png" alt="">
                                <p class="box-name mt-3">Invoice</p>
                                <span class="status"></span>
                        </div>
                      </div>
              </div>
          </div>



          <div class="menu mt-5 mb-4" *ngIf="isTutor">
            <div class="row">
              <h1 class="Activity" *ngIf="isTutor">Student Activity</h1>

                    <div class="col-sm-6 col-12 text-center p-0">
                      <div class="box" [routerLink]="['', 'dashboard', 'bookings']"  routerLinkActive="active">
                              <img src="assets/images/dash/bookings.svg" alt="">
                              <p class="box-name mt-3"> My bookings</p>
                              <span class="status"></span>
                      </div>
                    </div>
                    <div class="col-sm-6 col-12 text-center p-0">
                      <div class="box" [routerLink]="['', 'dashboard', 'invoice']"  routerLinkActive="active">
                              <img src="assets/images/dash/invoice.png" alt="">
                              <p class="box-name mt-3">Invoice</p>
                              <span class="status"></span>
                      </div>
                    </div>
            </div>
        </div>
    </div>
</div>
