@use '@angular/material' as mat;
@import "~bootstrap-float-label/dist/bootstrap-float-label.min.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import '~@fortawesome/fontawesome-free/css/all.css';
@include mat.core();




html{
  height: 100%;
  outline: none;
  box-sizing: border-box;
}

body {
  height: 100%;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
ul{
  padding-inline-start: 0;
}



::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #0C0531;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white !important;
  padding: 0;
  height: 50px;
}


.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

.mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
  margin-left: 1px !important;
  margin-right: 0px !important;
  content: "" !important;
}

.mat-h4,
.mat-body-1,
.mat-typography .mat-h4,
.mat-typography .mat-body-1,
.mat-typography h4 {
  margin: 0 0 5px !important;
}

$theme-primary: mat.define-palette(mat.$indigo-palette);
$theme-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$theme-warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme((color: (primary: $theme-primary,
        accent: $theme-accent,
        warn: $theme-warn,
      ),
      typography: mat.define-typography-config(),
    ));
@include mat.all-component-themes($theme);
